<ion-header-bar hide-tabs="true" id="s-header" class="{{vm.model.subAccountTypeStyle.split(':')[4].split(',')[0]}}" cache-view="false">
    <div class="button button-clear icon iconfont icon-jiantou-left-copy" style="left: 2px;" ng-click="vm.goBackExt()">
    </div>
    <h1 class="title1" style="color: #fff;font-weight: normal">{{vm.model.subAccountTypeStyle.split(':')[0]}}兑换</h1>
    <div class="button button-clear" style="position: absolute;right:10px;top:6px" ng-click="moreToggle()">
        <i class="iconfont {{vm.model.subAccountTypeText.split(':')[1]}} header-bar--iconfont"></i>
    </div>
    <span class="more-hide-arrow" ng-show="visible"></span>
    <div class="more-hide" ng-show="visible">
        <ul>
            <li class="button button-clear" ng-click="goNativeBack('tab.account')">
                <i class="iconfont icon-58-copy" style="color: #fff;font-size: 16px;"></i>
                <label style="font-size: 15px">首&nbsp;&nbsp;&nbsp;&nbsp;页</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.notice-list')">
                <i class="iconfont icon-wodexiaoxi2" style="color: #fff;font-size: 14px;"></i>
                <label style="font-size: 15px">消&nbsp;&nbsp;&nbsp;&nbsp;息</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.account-qrcode')">
                <i class="iconfont icon-erweima1" style="color: #fff;font-size: 14px;"></i>
                <label style="font-size: 15px">邀请码</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.manage')" ng-if="vm.model.userType=='0'">
                <i class="iconfont icon-user" style="color: #fff;font-size: 17px;"></i>
                <label style="font-size: 15px">我&nbsp;&nbsp;&nbsp;&nbsp;的</label>
            </li>
        </ul>
    </div>
</ion-header-bar>
<ion-content class="{{vm.model.subAccountTypeStyle.split(':')[4].split(',')[1]}}">
    <div class="list">
        <div class="item product item-icon-left" style="border: none">
            <i class="icon iconfont {{vm.model.subAccountTypeText.split(':')[1]}} {{vm.model.subAccountTypeText.split(':')[2]}}" style="font-size: 25px;"></i>
            <!--<label style="font-size: 16px">{{vm.model.subAccountTypeText.split(':')[0]?"可用余额":null}}</label>-->
            <label style="font-size: 16px">可用余额({{vm.model.subAccountTypeText.split(':')[5]}})</label>
            <div class="item-note-orange">{{vm.model.subAccountTypeText.split(':')[3]}}</div>
        </div>
        <div class="item-gap" ng-show="vm.subAccountType == '0031'"></div>
        <div class="item item-icon-left item-icon-right" style="border:none" ng-show="vm.subAccountType == '0031'">
            <i class="icon iconfont icon-ruhetigaodengjifen" style="font-size: 25px;color: #00aaee;"></i>
            <label class="font-17">实时价格(元)</label>
            <i class="icon ion-chevron-right icon-accessory" style="width: 50px;padding-left: 18px;color: #fff">
                <!--<div class="tags-price" style="">-->
                    <!--<span class="jia_ge_die" ng-if="vm.model.upDown=='0'">{{vm.model.rate}}%</span>-->
                    <!--<span class="jia_ge_zhang" ng-if="vm.model.upDown=='1'">{{vm.model.rate}}%</span>-->
                    <!--<span class="jia_ge_gain" ng-if="vm.model.upDown=='2'">{{vm.model.rate}}%</span>-->
                <!--</div>-->
                <div class="item-note-price font-17">{{vm.model.market|number:2}}</div>
            </i>
        </div>
        <div class="item-gap"></div>
        <div class="item item-input item-stacked-label product write" style="border: none">
            <span class="input-label product" style="font-weight: normal;">兑换额度</span>
            <input type="number"
                   style="float: left;width: 70%"
                   ng-model="vm.input.money"
                   ng-change="vm.moneyChanged()"
                   ng-keyup="writeClear($event, 'write')"
                   ng-focus="writeClear($event, 'write')"
                   ng-blur="writeBlur($event, 'write')"
                   placeholder="操作最低数量{{vm.model.limit|number:2}}"
                   ng-if="vm.model.limit != null&&vm.model.limit != 0">
            <input type="number"
                   style="float: left;width: 70%"
                   ng-model="vm.input.money"
                   ng-change="vm.moneyChanged()"
                   ng-keyup="writeClear($event, 'write')"
                   ng-focus="writeClear($event, 'write')"
                   ng-blur="writeBlur($event, 'write')"
                   placeholder="请输入{{vm.model.subAccountTypeStyle.split(':')[0]}}数量"
                   ng-if="vm.model.limit == null||vm.model.limit == 0">
            <i class="icon ion-close-circled input-del-product" style="padding-top: 8px" ng-click="vm.input.money=null;vm.moneyChanged()"></i>
            <div class="item-note-dblue font-14" style="position:absolute;padding-top: 7px;right: 16px" ng-click="vm.allEntry()">有效额度</div>
        </div>
        <div class="item-gap"></div>
        <div class="item item-input item-stacked-label product write" style="border: none">
            <span class="input-label product" style="font-weight: normal;">交易密码</span>
            <input type="password"
                   style="float: left;width: 70%"
                   ng-model="vm.input.payPassword"
                   ng-keyup="writeClear($event, 'write')"
                   ng-focus="writeClear($event, 'write')"
                   ng-blur="writeBlur($event, 'write')"
                   placeholder="请输入交易密码">
            <i class="icon ion-close-circled input-del-product" style="padding-top: 8px" ng-click="vm.input.payPassword=''"></i>
        </div>
    </div>
    <div class="padding-horizontal">
        <button class="button button-block {{vm.model.subAccountTypeStyle.split(':')[4].split(',')[3]}}" ng-disabled="vm.disabled" ng-click="vm.confirm()">
            确认兑换<!--{{vm.model.subAccountTypeStyle.split(':')[0].substring(0,2) == '奖金'? '兑换':vm.model.subAccountTypeStyle.split(':')[0].substring(0,2)}}-->
        </button>
    </div>
</ion-content>