<style>
    .button.button-positive{
        border-color: #1b82d2;
        background-color: #1b82d2;
        color: #fff;
    }
    .button.button-positive.active,.button.button-positive.activated{
        background-color: #1b82d2;
    }
    .item-toggle .toggle{
        top:4px !important;
        height: 38px !important;
        overflow: hidden !important;
    }
    .patternLock-icon{
        position: absolute;
        color: #22ca3f;
        font-size: 30px;
        top: 14px;
        left: 50%;
        transform: translateX(-50%);
    }
    .on-off_man{
        width: 100%;
        position: relative;
        margin-top: -1.25rem;
        font-size: 1.25rem;
    }
    .on-off_man label{
        top: .625rem;
        margin-left: .75rem;
    }
    .mui-switch {
        width: 2.8125rem;
        height: 1.5625rem;
        position: relative;
        border: 1px solid #dfdfdf;
        background-color: #fdfdfd;
        box-shadow: #dfdfdf 0 0 0 0 inset;
        border-radius: 1.25rem;
        display: inline-block;
        -webkit-appearance: none;
        outline: none;
        transition: all .4s ease;
    }
    .mui-switch:before {
        content: '';
        width: 1.375rem;
        height: 1.375rem;
        position: absolute;
        top: 0px;
        left: 0;
        border-radius: 1.25rem;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        transition: all .4s ease;
    }
    .mui-switch:checked {
        background-color: #0E96FF;
    }
    .mui-switch:checked:before {
        left: 1.25rem;
    }
</style>
<script>
    $(function(){
        $('.toggle').css({
            top: "4px;",
            height: "38px;",
            overflow: "hidden;"
        });
        $('#setting_used').find('label').attr('style','left:315px;top:5px;');
        $('#setting_used').find('div').attr('style','margin-left:5px;');
    });
</script>
<ion-view view-title="手势密码管理" hide-tabs="true" cache-view="false">
        <ion-nav-bar class="bar-dblue">
            <ion-nav-buttons side="left">
                <button class="button button-clear icon iconfont icon-jiantou-left-copy" ng-click="goNativeBack('tab.manage')"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="bg-color">
            <div class="padding" style="font-size: 11px;color: orangered;">
                提示：手势密码设置后，可自行修改
            </div>
            <div class="list">
                <div class="item" style="padding: 8px;border: none">
                    <label class="font-15" style="position: relative;top: 2px;">使用手势密码</label>
                    <input class="mui-switch item-note" style="width:2.8125rem;height: 1.5625rem" type="checkbox" value="" ng-model="vm.isUsedFlag" ng-click="vm.on_off_change()">
                </div>
                <a class="item item-icon-right" style="padding: 10px;border-top: 0.5px solid #dddddd;border-bottom: 0px" ng-show="vm.c_changePattern" ng-click="vm.changePattern()">
                    <label class="font-15">{{vm.btn_change_msgs}}</label>
                    <i class="icon iconfont icon-xiugaimima" style="font-size:29px;color: #0E96FF"></i>
                </a>
            </div>
            <div class="padding" style="font-size: 12px;color: orangered;" ng-show="vm.c_settingPassMsg">
                {{vm.setting_msgs[vm.setting_index]}}
            </div>
            <div class="padding" style="font-size: 12px;color: orangered;" ng-show="vm.c_srcPassMsg">
                请输入原密码
            </div>
            <!-- 手势密码 -->
            <div class="f f-c"style="background: #fff">
                <div id='lockPattern' style="text-align: center" class='pattern-holder patt-holder f f-c' ng-show="vm.c_showPattern"></div>
            </div>
        </ion-content>
</ion-view>