<ion-header-bar hide-tabs="true" id="s-header" class="{{vm.model.subAccountTypeText.split(':')[4].split(',')[0]}}" cache-view="false">
    <div class="button button-clear icon iconfont icon-jiantou-left-copy" style="left: 2px;" ng-click="goNativeBackParams(vm.model.subAccountTypeText.split(':')[3], {subAccountType:vm.subAccountType})">
    </div>
    <h1 class="title1" style="color: #fff;font-weight: normal">交易记录</h1>
    <div class="button button-clear" style="position: absolute;right:10px;top:6px" ng-click="moreToggle()">
        <i class="iconfont {{vm.model.subAccountTypeText.split(':')[1]}} header-bar--iconfont"></i>
    </div>
    <span class="more-hide-arrow" ng-show="visible"></span>
    <div class="more-hide" ng-show="visible">
        <ul>
            <li class="button button-clear" ng-click="goNativeBackParams(vm.model.subAccountTypeText.split(':')[3], {subAccountType:vm.subAccountType})">
                <i class="iconfont {{vm.model.subAccountTypeText.split(':')[1]}}" style="color: #fff;font-size: 16px;"></i>
                <label style="font-size: 15px">账&nbsp;&nbsp;&nbsp;&nbsp;户</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.account')">
                <i class="iconfont icon-58-copy" style="color: #fff;font-size: 16px;"></i>
                <label style="font-size: 15px">首&nbsp;&nbsp;&nbsp;&nbsp;页</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.notice-list')">
                <i class="iconfont icon-wodexiaoxi2" style="color: #fff;font-size: 14px;"></i>
                <label style="font-size: 15px">消&nbsp;&nbsp;&nbsp;&nbsp;息</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.account-qrcode')">
                <i class="iconfont icon-erweima1" style="color: #fff;font-size: 14px;"></i>
                <label style="font-size: 15px">邀请码</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.manage')">
                <i class="iconfont icon-user" style="color: #fff;font-size: 17px;"></i>
                <label style="font-size: 15px">我&nbsp;&nbsp;&nbsp;&nbsp;的</label>
            </li>
        </ul>
    </div>
</ion-header-bar>
<ion-content class="{{vm.model.subAccountTypeText.split(':')[4].split(',')[1]}}">
    <ion-refresher on-refresh="vm.doRefresh()"
                   pulling-text="下拉刷新"
                   refreshing-text="刷新中..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>
    <ui class="list">
        <li class="item item-sm text-center" ng-show="!vm.hasData&&vm.items.length==0">暂无交易记录</li>
        <li class="item item-text-wrap" ng-repeat='item in vm.items'>
            <div ng-if="item.billType=='09'" ng-click="goNativeBackParams('tab.account-applyFor-result', {id:item.id, subAccountType:vm.subAccountType, back:'list'})">
                <div class="bill-list-label">{{item.dateLabel}}</div>
                <div class="bill-list-date">{{item.date}}</div>
                <div class="bill-list-amount bill-list-amount-blue">{{item.amountStr}}</div>
                <div class="bill-list-note">{{item.note}}</div>
                <!--<i class="icon iconfont icon-daochu1 bill-list-inOut"></i>-->
                <div class="bill-list-state state-{{item.state.split(':')[0]}}">{{item.state.split(':')[1]}}</div>
                <i class="ion-chevron-right bill-list-right"></i>
            </div>
            <div ng-if="item.billType=='10'" ng-click="goNativeBackParams('tab.account-exchange-result', {id:item.id, subAccountType:vm.subAccountType, back:'list'})">
                <div class="bill-list-label">{{item.dateLabel}}</div>
                <div class="bill-list-date">{{item.date}}</div>
                <div class="bill-list-amount bill-list-amount-blue">{{item.amountStr}}</div>
                <div class="bill-list-note">{{item.note}}</div>
                <!--<i class="icon iconfont icon-daochu1 bill-list-inOut"></i>-->
                <div class="bill-list-state state-{{item.state.split(':')[0]}}">{{item.state.split(':')[1]}}</div>
                <i class="ion-chevron-right bill-list-right"></i>
            </div>
            <div ng-if="item.billType=='02'" ng-click="goNativeBackParams('tab.account-withdraw-result', {id:item.id, subAccountType:vm.subAccountType, back:'list'})">
                <div class="bill-list-label">{{item.dateLabel}}</div>
                <div class="bill-list-date">{{item.date}}</div>
                <div class="bill-list-amount bill-list-amount-blue">{{item.amountStr}}</div>
                <div class="bill-list-note">{{item.note}}</div>
                <!--<i class="icon iconfont icon-daochu1 bill-list-inOut"></i>-->
                <div class="bill-list-state state-{{item.state.split(':')[0]}}">{{item.state.split(':')[1]}}</div>
                <i class="ion-chevron-right bill-list-right"></i>
            </div>
            <div ng-if="item.billType=='04'" ng-click="goNativeBackParams('tab.account-ceded-result', {id:item.id, subAccountType:vm.subAccountType, back:'list'})">
                <div class="bill-list-label">{{item.dateLabel}}</div>
                <div class="bill-list-date">{{item.date}}</div>
                <div class="bill-list-amount" ng-class="{'bill-list-amount-gold':item.userId != vm.criteria.userId, 'bill-list-amount-blue':item.userId == vm.criteria.userId}">{{item.amountStr}}</div>
                <div class="bill-list-note">{{item.note}}</div>
                <!--<i class="icon iconfont bill-list-inOut" ng-class="{'icon-xinxidaoru':item.id != vm.userId, 'icon-daochu1':item.id == vm.userId}"></i>-->
                <div class="bill-list-state state-{{item.state.split(':')[0]}}">{{item.state.split(':')[1]}}</div>
                <i class="ion-chevron-right bill-list-right"></i>
            </div>

            <div ng-if="item.billType=='05'" ng-click="goNativeBackParams('tab.account-transfer-result', {id:item.id, subAccountType:vm.subAccountType, back:'list'})">
                <div class="bill-list-label">{{item.dateLabel}}</div>
                <div class="bill-list-date">{{item.date}}</div>
                <div class="bill-list-amount" ng-class="{'bill-list-amount-gold':item.userId != vm.criteria.userId, 'bill-list-amount-blue':item.userId == vm.criteria.userId}">{{item.amountStr}}</div>
                <div class="bill-list-note">{{item.note}}</div>
                <!--<i class="icon iconfont bill-list-inOut" ng-class="{'icon-xinxidaoru':item.id != vm.userId, 'icon-daochu1':item.id == vm.userId}"></i>-->
                <div class="bill-list-state state-{{item.state.split(':')[0]}}">{{item.state.split(':')[1]}}</div>
                <i class="ion-chevron-right bill-list-right"></i>
            </div>

            <div ng-if="item.billType!='02'&&item.billType!='04'&&item.billType!='05'&&item.billType!='10'&&item.billType!='09'">
                <div class="bill-list-label">{{item.dateLabel}}</div>
                <div class="bill-list-date">{{item.date}}</div>
                <div class="bill-list-amount bill-list-amount-gold">{{item.amountStr}}</div>
                <div class="bill-list-note">{{item.note}}</div>
                <!--<i class="icon iconfont icon-xinxidaoru bill-list-inOut"></i>-->
                <div class="bill-list-state state-{{item.state.split(':')[0]}}">{{item.state.split(':')[1]}}</div>
            </div>
        </li>
    </ui>
    <ion-infinite-scroll ng-if="vm.hasMoreData" on-infinite="vm.loadMore()" spinner="lines" distance="1%" ></ion-infinite-scroll>
</ion-content>
<!--
<div class="f f-sb payment-main" ng-if="vm.subAccountType=='0031'">
    &lt;!&ndash;<div class="f f-c f-ac payment-btn payment-btnB {{vm.model.subAccountTypeText.split(':')[2].split(',')[0]}}" ng-click="goNativeBackParams('tab.account-transfer', {subAccountType:'0017', transferType:'ComeNdl'})">转账</div>&ndash;&gt;
    <div class="f-c f-a payment-all-btn {{vm.model.subAccountTypeText.split(':')[2].split(',')[0]}} background-line payment-btnA" ng-click="vm.otcTypebidding('tab.otcsell-mysells')">竞价</div>
    <div class="f-c f-a payment-all-btn {{vm.model.subAccountTypeText.split(':')[2].split(',')[0]}} bgWhite" ng-click="vm.otcTypebidding('tab.otcsell-mysellsnb')">非竞价</div>
</div>-->
