<!--2018.4.18 zl-->
<style>
    [nav-view-transition="ios"][nav-view-direction="forward"] {
        background: inherit !important;
    }
</style>


<ion-view view-title="忘记密码" cache-view="false" class="register_title" style=" background: inherit!important;">
    <div class="bar bar-header bar-dOrange top-trans f-ac f-sb">
        <i class="icon iconfont icon-jiantou-left-copy" ng-click="goNativeBackParams('login', {loginType:'left'})"
           style="font-size: 25px;margin-left:10px;"></i>
        <div class="f-fs">
            <span>忘记密码</span>
        </div>
        <div class="visibility"><i class="icon iconfont icon-jiantou-left-copy" ng-click="goNativeBackParams('login', {loginType:'left'})" style="font-size: 25px;margin-left:10px;"></i></div>
    </div>
    <ion-content>
        <div class="list register-list-inset margin_centent">
            <!--验证码-->
            <div class="input_border write">
                <i class="icon iconfont icon-yanzhengma icon_calss colorOrange font-22"></i>
                <input class="NO_bgcolor_input paddingLeft45 paddingRight100" type="text" placeholder="验证码"
                       ng-keyup="writeClear($event, 'write')"
                       ng-focus="writeClear($event, 'write')"
                       ng-blur="writeBlur($event, 'write')"
                       maxlength="4"
                       ng-model="vm.code">
                <img class="registerCodeImg" ng-src="{{vm.codeUrl}}" ng-click="vm.getCode()">
                <i class="icon ion-close-circled input-del-register"
                   style="top:4px; right: 100px;font-size: 15px;" ng-click="vm.code=''"></i>
            </div>
            <!--手机号-->
            <div class="input_border write">
                <i class="icon fa fa-mobile icon_calss colorOrange font-30" style="left: 20px;"></i>
                <input class="NO_bgcolor_input paddingLeft45 paddingRight100" type="tel" placeholder="手机号"
                       ng-keyup="writeClear($event, 'write')"
                       ng-focus="writeClear($event, 'write')"
                       ng-blur="writeBlur($event, 'write')"
                       maxlength="11"
                       ng-model="vm.phone">
                <button class="button button-dOrange button-small registerCodeButton"
                        ng-click="vm.getCaptcha(false)"
                        ng-disabled="vm.captchaBtn.disabled">{{vm.captchaBtn.label}}
                </button>
                <i class="icon ion-close-circled input-del-register"
                   style="top:4px; right: 100px;font-size: 15px;" ng-click="vm.phone=''"></i>
            </div>
            <!--动态码-->
            <div class="input_border write">
                <i class="icon ion-ios-email icon_calss colorOrange font-22" style="left: 19px;"></i>
                <input class="NO_bgcolor_input paddingLeft45" type="number" placeholder="动态码"
                       ng-keyup="writeClear($event, 'write')"
                       ng-focus="writeClear($event, 'write')"
                       ng-blur="writeBlur($event, 'write')"
                       maxlength="6"
                       ng-model="vm.captcha">
                <i class="icon ion-close-circled input-del-register posi_top"
                   style="padding-top: 3px;right: 20px;font-size: 15px;" ng-click="vm.captcha=''"></i>
            </div>
            <!--新密码-->
            <div class="input_border write">
                <i class="icon ion-android-lock icon_calss colorOrange font-24" style="left: 20px;"></i>
                <input class="NO_bgcolor_input paddingLeft45" type="password" placeholder="新密码"
                       maxlength="22"
                       ng-keyup="writeClear($event, 'write')"
                       ng-focus="writeClear($event, 'write')"
                       ng-blur="writeBlur($event, 'write')"
                       ng-model="vm.password">
                <i class="icon ion-close-circled input-del-forgot posi_top"
                   style="padding-top: 3px;right: 20px;font-size: 15px;" ng-click="vm.password=''"></i>
            </div>
            <div class="font-12 colorOrange" style="padding-bottom:0px; padding-top: 10px;">
                密码要求长度在6-22位字符之间，至少包含数字、字母(区分大小写)、符号(!#$%^&*.~)中的2种
            </div>
            <div>
                <button class="button button-block button-dOrange buttonWell" ng-click="vm.forgot()">
                    修改密码
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>