<!-- <!-- 2018.04.16 by zl -->
<div class="back_logo"></div>
<div class="back_shade"></div>
<div class="login_content">
    <ion-view view-title="登录" cache-view="false" class="ionview_login" style=" background: inherit!important;">
        <!--<div class="bar bar-header top-trans">-->
            <!--<div class="iconfont icon-dvt-saoys pos-a QR_code_posi" ng-click="vm.scanner()"></div>-->
        <!--</div>-->
        <ion-content>
            <div class="screen_higt" style="overflow: hidden;position: relative">
                <div class="text-center" style="position:relative;padding: 70px 25px 0;">
                    <div class="f f-c mt-20">
                        <div class="login_bgimageCentent">
                            <img class="login_bgimage" src="app/platform/resources/img/logoBaiDe.png">
                        </div>
                    </div>
                    <div class="input_border write">
                        <i class="icon ion-ios-person icon_calss colorOrange font-22"></i>
                        <input class="NO_bgcolor_input" autocomplete="off" type="text" placeholder="{{vm.placeholder}}/已认证手机号"
                               ng-keyup="writeClear($event, 'write')"
                               ng-focus="writeClear($event, 'write')"
                               ng-blur="writeBlur($event, 'write')"
                               ng-model="vm.username" autocomplete="off">
                        <i class="icon ion-close-circled input-del-login posi_top"
                           style="padding-top: 3px;right: 20px;font-size: 15px;" ng-click="vm.username=''"></i>
                    </div>
                    <div class="input_border write">
                        <i class="icon ion-android-lock icon_calss colorOrange font-22"></i>
                        <input class="NO_bgcolor_input" autocomplete="off" type="password" placeholder="登录密码"
                               maxlength="22"
                               ng-keyup="writeClear($event, 'write')"
                               ng-focus="writeClear($event, 'write')"
                               ng-blur="writeBlur($event, 'write')"
                               ng-model="vm.password">
                        <i class="icon ion-close-circled input-del-login posi_top"
                           style="padding-top: 3px;right: 20px;font-size: 15px;" ng-click="vm.password=''"></i>
                    </div>
                </div>
                <div class="forget_login">
                    <button class="button button-block button-dOrange buttonWell" ng-click="vm.login()">
                        登录
                    </button>
                </div>
                <div class="f f-c">
                        <span class="font-16 fl_color_span" ng-click="vm.forgot()"
                              style="margin-right: 20px">找回密码</span>
                    <!--<span class="font-16 fl_color_span" ng-show="vm.loginType=='left'"
                          ui-sref="register">注册新用户</span>-->
                </div>
                <div class="posi_bottom">
                    <div class="text-center" style="margin-top: 30px">
                        <hr style="height: 10px;border:none; border-bottom: 1px solid #dedede !important; width:35%; float: left;opacity: 0.5">
                        <b style="color: #444;font-weight: normal;padding: 0 9px;font-size: 15px">版权所有</b>
                        <hr style="height: 10px;border:none; border-bottom: 1px solid #dedede !important; width:35%; float: right;opacity: 0.5">
                    </div>
                    <p class="text-center" style="padding: 10px 0">
                        <small style="color:#666">© 2018-2019 <a href="" style="color:#444">百德</a><br><a href="" style="color:#444">v1.1.0</a></small>
                    </p>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>
<script>
    var screenHeight = window.screen.height;
    $(".screen_higt").css({
        "height": screenHeight
    })
</script>