<ion-view view-title="设置推荐人" hide-tabs="true" cache-view="false">
    <ion-nav-bar class="bar-dblue">
        <ion-nav-buttons side="left">
            <button class="button button-clear icon iconfont icon-jiantou-left-copy" ng-click="goNativeBack('tab.manage')"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bg-color">
        <div class="padding" style="font-size: 11px;color: orangered;">
            提示：推荐人只能添加一次，请谨慎填写
        </div>
        <div class="list list-inset">
            <div class="item item-icon-left item-icon-right no-border write">
                <i class="icon ion-ios-people" style="color:#666;font-size: 29px"></i>
                <!--<span class="input-label font-15" style="font-weight: normal">推荐码</span>-->
                <input type="text"
                       placeholder="请输入推荐人的邀请码"
                       style="width: 100%"
                       ng-keyup="writeClear($event, 'write')"
                       ng-focus="writeClear($event, 'write')"
                       ng-blur="writeBlur($event, 'write')"
                       ng-model="vm.referralCode">
                <i class="icon ion-close-circled input-del-referral" style="padding-top: 3px;right: 20px;font-size: 15px;" ng-click="vm.referralCode=''"></i>
            </div>
        </div>
        <div class="padding" style="font-size: 10px;color: #96ABBB;">
            需验证登录密码正确，才能设置成功
        </div>
        <div class="list list-inset">
            <div class="item item-icon-left item-icon-right no-border write">
                <i class="icon ion-android-lock" style="color:#666;font-size: 29px"></i>
                <input type="password"
                       placeholder="登录密码验证"
                       style="width: 100%"
                       ng-keyup="writeClear($event, 'write')"
                       ng-focus="writeClear($event, 'write')"
                       ng-blur="writeBlur($event, 'write')"
                       ng-model="vm.password">
                <i class="icon ion-close-circled input-del-register" style="padding-top: 3px;right: 20px;font-size: 15px;" ng-click="vm.password=''"></i>
            </div>
        </div>
        <div class="padding" style="padding-bottom:0px; font-size: 12px;color: #96ABBB;">
            推荐人添加后，即终身锁定。
        </div>
        <div class="padding padding-horizontal">
            <button class="button button-block button-dblue" ng-click="vm.addReferralCode()">
                添加
            </button>
        </div>
    </ion-content>
</ion-view>