<ion-header-bar hide-tabs="true" id="s-header" class="bar-dblue bar bar-header" cache-view="false">
    <div class="button button-clear icon iconfont icon-jiantou-left-copy" style="left: 2px;" ng-click="goNativeBack('tab.account')">
    </div>
    <h1 class="title1" style="color: #fff;font-weight: normal">更多</h1>
</ion-header-bar>
<ion-content class="bg-color">
    <div class="item">
        <div class="grid-item-50 text-center" ng-click="vm.build()">
            <button class="button button-fab button-assertive">
                <i class="icon iconfont icon-dibucaidanlanleshenghuo"></i>
            </button>
            <div class="fab-button-label font-12">水电</div>
        </div>
        <div class="grid-item-50 text-center" ng-click="vm.build()">
            <button class="button button-fab button-royal">
                <i class="icon iconfont icon-chongzhi"></i>
            </button>
            <div class="fab-button-label font-12">充值</div>
        </div>
        <div class="grid-item-50 text-center" ng-click="vm.build()">
            <button class="button button-fab button-positive">
                <i class="icon iconfont icon-home_oil"></i>
            </button>
            <div class="fab-button-label font-12">加油</div>
        </div>
        <div class="grid-item-50 text-center" ng-click="vm.build()">
            <button class="button button-fab button-balanced">
                <i class="icon iconfont icon-baoxian"></i>
            </button>
            <div class="fab-button-label font-12">保险</div>
        </div>
    </div>
    <div class="list">
        <div class="item item-gap"></div>
        <a class="item item-icon-left item-icon-right" style="border:none" ng-click="vm.build()">
            <i class="icon iconfont icon-home_tab_mall_presse dblue" style="font-size: 32px"></i>
            <label class="font-15">百德商城</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <!--<a class="item item-icon-left item-icon-right">-->
        <!--<i class="icon iconfont icon-taobao energized" style="font-size: 32px"></i>-->
        <!--<label class="font-15">百德商城</label>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <!--</a>-->
    </div>
</ion-content>