<ion-view view-title="自动登录">
    <!--<ion-nav-bar class="bar-blue">-->
    <!--</ion-nav-bar>-->
    <ion-content class="bg-color">
        <div class="weui_msg" ng-show="vm.showLoading">
            <div class="weui_icon_area"><ion-spinner class="spinner-assertive" icon="ripple"></ion-spinner></div>
            <div class="weui_text_area">
                <p class="weui_msg_title">登录中，请稍后...</p>
            </div>
        </div>
        <div class="weui_msg" ng-if="!vm.showLoading">
            <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">微信认证超时</h2>
                <p class="weui_msg_desc">请关闭此页面并重新访问</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <button class="weui_btn weui_btn_primary" ng-click="vm.close()">关闭</button>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>